$green-bright: #d6e9c6;
$green-muted: #dff0d8;
$green-dark: #3c763d;

$blue-bright: #bce8f1;
$blue-muted: #d9edf7;
$blue-dark: #31708f;

$yellow-bright: #faebcc;
$yellow-muted: #fcf8e3;
$yellow-dark: #8a6d3b;

$red-bright: #ebccd1;
$red-muted: #f2dede;
$red-dark: #a94442;
