
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    
	<div class="ims-footer">
	IMS Global Learning Consortium, Inc. ("IMS Global") is publishing the information contained in this IMS Question and Test Interoperability Overview ("Specification") for purposes of scientific, experimental, and scholarly collaboration only.
	
	IMS Global makes no warranty or representation regarding the accuracy or completeness of the Specification.

	This material is provided on an "As Is" and "As Available" basis.

	The Specification is at all times subject to change and revision without notice.

	It is your sole responsibility to evaluate the usefulness, accuracy, and completeness of the Specification as it relates to you.

	IMS Global would appreciate receiving your comments and suggestions.

	Please contact IMS Global through our website at http://www.imsglobal.org

	Please refer to Document Name: {{page.title}}

	Revision: @@@ March 2017
	</div>
	
  </body>
</html>