      <footer>
        <p>This open data specification project is maintained by the <a href="http://badgealliance.org">Badge Alliance</a>
          <div>
            <a href="http://badgealliance.org"><img src="{{ site.baseurl }}/images/badge-alliance-logo-web.png"></a>
          </div>
        </p>
        <p><small><a href="https://github.com/openbadges/openbadges-specification/commits/master">Latest Updates</a></small></p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    
  </body>
</html>