<body>
  <div class="wrapper">
    <header>
      <h1 class="masthead">
        <a href="{{ site.baseurl }}/" class="masthead-x-logo">Open Badges</a>
      </h1>

      <p class="view"><a href="https://github.com/openbadges/openbadges-specification">Open Badges Specification on GitHub <small>openbadges/openbadges-specification</small></a></p>

      <p class="logo-image">
        <a href="http://openbadges.org">About Open Badges</a><br />
        <a href="{{ site.baseurl }}/faq/">FAQ for non-technical readers</a>
      </p>

      <nav class="project-download-links">
        <ul>
          <li><a href="{{ site.baseurl }}/#">Read <strong>Docs</strong></a></li>
          <li><a href="{{ site.baseurl }}/examples">Code <strong>Examples</strong></a></li>
          <li><a href="{{ site.baseurl }}/extensions#">Develop <strong>Extensions</strong></a></li>
        </ul>
      </nav>
    </header>