<body>
  <div class="wrapper">
    <header>
      <h1>Open Badges Standard</h1>
      <p>Portable digital credentials</p>

      <p class="view"><a href="https://github.com/openbadges/openbadges-specification">View the Project on GitHub <small>openbadges/openbadges-specification</small></a></p>

      <p class="logo-image"><a href="http://openbadges.org"><div>
        <img src="{{ site.baseurl }}/images/openbadges-logo.png"></div>
        About Open Badges</a>
      </p>

      <nav class="project-download-links">
        <ul>
          <li><a href="{{ site.baseurl }}#">Read <strong>Docs</strong></a></li>
          <li><a href="{{ site.baseurl }}/examples">Code <strong>Examples</strong></a></li>
          <li><a href="{{ site.baseurl }}/extensions#">Develop <strong>Extensions</strong></a></li>
        </ul>
      </nav>
    </header>