<body>
  <header>
    <div class="inner">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %} <h2>{{ page.subtitle }}</h2> {% endif %}
      <a href="https://github.com/openbadges/openbadges-specification" class="button"><small>View project on</small> GitHub</a>
    </div>
  </header>

<nav class="top-nav">
  <ul class="clearfix">
    <li><a href="{{ site.url}}">About</a></li>
    <li><a href="{{ site.url}}/docs#">Documentaion</a></li>
    <li><a href="{{ site.url}}/examples">Examples</a></li>
    <li><a href="{{ site.url}}/extensions#">Extensions</a></li>
  </ul>
</nav>

<div id="content-wrapper">
  <div class="inner clearfix">
    
