.masthead {
	position: relative;
	height: 60px;
}

.masthead-x-logo {
    background: url(../images/openbadges-logo-dark.png) no-repeat;
    width: 200px;
    text-indent: -9999em;
	display: block;
	height: 53px;
}
