.note {
	padding: 1em 1.2em 0.5em;
	margin: 1em 0;
	clear: both;
	border-style: none;
}

.good-news {
	border-color: $green-bright;
	background: $green-muted;
	overflow: auto;
}

.good-news, .issue, .warning {
	border-left-style: solid;
}
