.note {
	padding: 1em 1.2em 0.5em;
	margin: 1em 0;
	clear: both;
	border-style: none;
}

.good-news {
	border-color: $green-bright;
	background: $green-muted;
	color: $green-dark;
}

.info {
	border-color: $blue-bright;
	background: $blue-muted;
	color: $blue-dark;
}

.issue {
	border-color: $yellow-bright;
	background: $yellow-muted;
	color: $yellow-dark;
}

.warning {
	border-color: $red-bright;
	background: $red-muted;
	color: $red-dark;
}


.good-news, .info, .issue, .warning {
	border-left-style: solid;
	border-left-width: 0.5em;
	overflow: auto;
}
